<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/testRequestByServletAPI}">通过ServletAPI向request域对象共享数据</a><br/>
<a th:href="@{/testModelAndView}">使用ModelAndView向request域对象共享数据</a><br/>
<a th:href="@{/testModel}">使用Model向request域对象共享数据</a><br/>
<a th:href="@{/testMap}">使用Map向request域对象共享数据</a><br/>
<a th:href="@{/testModelMap}">使用ModelMap向request域对象共享数据</a><br/>
<a th:href="@{/testSession}">向session域共享数据</a><br/>
<a th:href="@{/testApplication}">向application域共享数据</a><br/>
</body>
</html>